include README.md
include LICENSE
include requirements.txt
include metadata_example.json
recursive-include src *.json
recursive-include src *.ui
recursive-include src/ui *.ui
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store
