include README.md
include LICENSE
include metadata_example.json
recursive-include src/electric_component_check *.json
recursive-include src/electric_component_check *.toml
recursive-include src/electric_component_check/ui *.ui
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *.so
recursive-exclude * .DS_Store
